.breadcrumb > li{
  display:inline;
  
}

.breadcrumb li.location+li.location::before {
    content: "/ ";
    }

.breadcrumb li a:hover{
  color: #01447e;
  text-decoration: underline;

}

.breadcrumb li.attribute a {
    color: gray;
    }
    .breadcrumb li.attribute::after {
      content: "x";
        color: red;
          font-size: 10px;
            vertical-align: super;
            }

.breadcrumb {
  padding: 7px;
  margin-left: auto;
  margin-right: auto;
  
}